@tailwind base;
@tailwind components;
@tailwind utilities;

/* 인풋창 화살표가림 */
.hide-number-spinner::-webkit-inner-spin-button,
.hide-number-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-spinner {
  -moz-appearance: textfield;
}

/* 스크롤바 숨기기 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
